torch<=2.4
OmegaConf
from-dict
dacite
Ninja
tqdm
tiktoken
opencv-python>=4.6.0
sentry-sdk
torchvision>=0.8.1
torchmetrics>=0.7.0
pandas
torchtext
matplotlib
mlflow
jinja2
networkx
numpy
pillow!=8.3.*
lightning==2.4
tokenizers
torchinfo